---
import BlogLayout from '../../layouts/BlogLayout.astro';
---

<BlogLayout
  title="How to Root T-Mobile Galaxy S4 on Android 4.4.2 KitKat"
  description="Root your T-Mobile Galaxy S4 SGH-M919 running Android 4.4.2 KitKat with this step-by-step guide."
  date="2014-03-16"
  category="Root Guide"
>
  <p>
    After a long wait, it was on March 10 to be exact, that the T-Mobile variant of the Samsung Galaxy S4 SGH-M919 started receiving the official Android 4.4.2 KitKat update. The new firmware update with build version M919UVUFNB4 is 387.58MB in size. Needless to say that the Android 4.4.2 update for the T-Mobile Galaxy S4 is a major update.
  </p>

  <p>
    Having installed the new update, you would have noticed various new changes such as new camera shortcut on the lockscreen, transparent status bar with white icons, default apps option in settings, fullscreen album art on the lockscreen while playing music, option for using Hangouts as default app for messaging, improved user interface, better performance and more stability.
  </p>

  <p>
    Anyway, if you have already updated your Galaxy S4 to the all new official KitKat update and are looking for a way to root it, we have came with a well-known and easy rooting method for you. By following the steps given below you will be able to root T-Mobile Galaxy S4 on Android 4.4.2 KitKat firmware with build version UVUFNB4.
  </p>

  <h2>Prerequisites</h2>

  <ul>
    <li>This rooting method is only for T-Mobile Galaxy S4 SGH-M919 with Android 4.4.2 KitKat (build M919UVUFNB4)</li>
    <li>Make sure your device has at least 60% battery charge</li>
    <li>Backup your important data before proceeding</li>
    <li>Install Samsung USB drivers on your computer</li>
    <li>Enable USB debugging on your phone (Settings > Developer Options > USB Debugging)</li>
  </ul>

  <h2>Warning</h2>

  <p>
    <strong>Rooting will void your warranty.</strong> We are not responsible for any damage to your device. Proceed at your own risk. Make sure you follow each step carefully.
  </p>

  <h2>Steps to Root T-Mobile Galaxy S4 on KitKat</h2>

  <ol>
    <li>Download CF-Auto-Root for T-Mobile Galaxy S4 M919 on your computer</li>
    <li>Download Odin v3.09 and extract it</li>
    <li>Extract the CF-Auto-Root zip file to get the .tar.md5 file</li>
    <li>Power off your Galaxy S4 completely</li>
    <li>Boot into Download Mode by pressing Volume Down + Home + Power buttons together</li>
    <li>Press Volume Up to continue when you see the warning screen</li>
    <li>Run Odin as Administrator on your computer</li>
    <li>Connect your phone to the computer via USB cable</li>
    <li>Odin should recognize your device (ID:COM will turn blue)</li>
    <li>Click the AP/PDA button and select the CF-Auto-Root .tar.md5 file</li>
    <li>Make sure only "Auto Reboot" and "F. Reset Time" are checked</li>
    <li>Click Start to begin the rooting process</li>
    <li>Wait for the process to complete (phone will reboot automatically)</li>
    <li>Once done, you should see "PASS" in green in Odin</li>
  </ol>

  <p>
    Your T-Mobile Galaxy S4 is now rooted! You can verify root access by downloading a root checker app from the Play Store.
  </p>

  <hr />

  <p>
    <em>Originally published on Apavayan World on March 16, 2014. This is an archived post from my old Android tech blog.</em>
  </p>
</BlogLayout>
